.body{
    align-items: center;
}

.button {
    width: 15%;
    background-color: #1c1c1d;
    color: white;
    padding: auto;
    margin: auto;
    border: nome;
    border-radius: 4px;
    cursor: pointer;
    height: 37px;
    box-shadow: 0 12px 16px 0 rgba(102, 2, 2, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.imagem{
    align-items: center; 
    padding: 5px;
    display:flex;
    margin-bottom: 10px;
    margin-top: 50px;
    max-height: 20vw;
    max-width: 38%;

}